
mixin t_project_header(client="ROCKETBANK")
  // section text (T project header)
  .section
    .container
      .row.row--offset-1
        .col.col--40
          .p-label.ttu= client
          .h2-title Arcada Rocketbank
        .col.col--60
          .p-main Our friends from Rocketbank showed up with awesome news – in partnership with Claustrophobia they had launched special quest, where you can exchange earned points for real rubles.

mixin t_1_text_only
  // section text (T 1)
  .section
    .container
      .row.row--jcs.row--offset-1
        .col.col--60
          p.p-main To highlight arcade nature of the quest, it was agreed to use pixels. We were very excited, so we turned lava, VAZ 2105 and even bullies into pixels.
          p.p-main Our friends from Rocketbank showed up with awesome news – in partnership with Claustrophobia they had launched special quest.
        
        
mixin t_2_text_caption
  // section text (T 2)
  .section
    .container
      .row.row--offset-1.row--lg-break
        .col.col--60
          p.p-main To highlight arcade nature of the quest, it was agreed to use pixels. We were very excited, so we turned lava, VAZ 2105 and even bullies into pixels.
          p.p-main Our friends from Rocketbank showed up with awesome news – in partnership with Claustrophobia they had launched special quest.
        .col.col--30.mla
          p.blockquote.p-main
            span 25 characters
            span 15 minutes of animation
            span 3340 business meetings

mixin t_3_centered_text
  // section text (T 3)
  .section
    .container
      .row.row--offset-1
        .col.col--60.col--center.tac
          p.p-big To highlight arcade nature of the quest, it was agreed to use pixels. We were very excited, so we turned lava, VAZ 2105 and even bullies.
    

mixin t_credits
  // section text (T Credits)
  .section.section--credits
    .container
      .row.row--offset-1
        .col
          .h2-title.ttu.tac Credits
          
      .row.row--jcs.row--offset-1.project__credits
        .col.col--20
          .p-label.ttu CLIENT
          p.p-main.mt10
            span Rocketbank <br/>
            span BBDO
        .col.col--20
          .p-label.ttu DIRECTION
          p.p-main.mt10
            span Misha Petrick
        .col.col--20
          .p-label.ttu PRODUCER
          p.p-main.mt10
            span Nadya Petrick
        .col.col--20
          .p-label.ttu CHARACTER DESIGN
          p.p-main.mt10
            span Vova Orlov
        .col.col--20
          .p-label.ttu ANIMATION
          p.p-main.mt10
            span Vova Orlov
            span Misha Petrick
        .col.col--20
          .p-label.ttu CATEGORY
          p.p-main.mt10
            span Name Surname
            span Name Surname
        .col.col--20
          .p-label.ttu CATEGORY
          p.p-main.mt10
            span Name Surname
            span Name Surname
      
      .row.row--offset-1
        .col
          .p-label.c-gray All rights owned by Petrick Studio. Copyright © 2018 PETRICK
    



mixin i_1_video_vimeo(image="media_1", blur="https://res.cloudinary.com/dqruxbmfq/image/upload/w_64,c_fill,e_blur:600/v1544280402/petrik/media_1.jpg")
  // section 1 video (I 1 video)
  .section
    .container
      figure.figure.figure--fill-mobile
        // video component
        .video.scaler(
          js-video
          data-provider="vimeo"
          data-src="https://player.vimeo.com/video/91708492"
          js-scaler-mobile
          data-ar-768="1:1"
          style="padding-bottom: "+ (792/1410)*100 +"%; background-image: url("+blur+")")
          .video__placeholder
            .video__play
              +svgMono("play")
            //- img(js-lazy data-src='img/'+image+'.jpg' data-srcset='img/'+image+'@2x.jpg 2x' alt="")
            picture(
            js-lazy
            alt=""
            data-src='img/'+image+'.jpg')
              // 768 and above
              data-src(
              media="(min-width: 768px)" 
              srcset='img/'+image+'.jpg 1x, img/'+image+'@2x.jpg 2x')
              // less 768px
              data-src(
              media="(min-width: 0px)" 
              srcset='https://res.cloudinary.com/dqruxbmfq/image/upload/w_768,h_768,c_fill/v1544280402/petrik/'+image+'.jpg 1x, https://res.cloudinary.com/dqruxbmfq/image/upload/w_1536,h_1536,c_fill/v1544280402/petrik/'+image+'_2x.jpg 2x')
              // fallback (will be added with js-lazy)
              //- img(src='img/'+image+'.jpg')
              
          .video__player
            // player code will be embeded
        figcaption.figcaption.p-label Commercial #1
        
mixin i_1_video_youtube
  // section 1 video (I 1 video)
  .section
    .container
      figure.figure.figure--fill-mobile
        // video component
        .video.scaler(
          js-video
          data-provider="youtube"
          data-src="https://www.youtube.com/embed/m0S0qg4Zh7Y"
          js-scaler-mobile
          data-ar-768="1:1"
          style="padding-bottom: "+ (792/1410)*100 +"%; background-image: url(https://res.cloudinary.com/dqruxbmfq/image/upload/w_64,c_fill,e_blur:600/v1544280402/petrik/media_5.jpg)")
          .video__placeholder
            .video__play
              +svgMono("play")
            //- img(js-lazy data-src='img/media_5.jpg' data-srcset='img/media_5@2x.jpg 2x' alt="")
            picture(
            js-lazy
            alt=""
            data-src='img/media_5.jpg')
              // 768 and above
              data-src(
              media="(min-width: 768px)" 
              srcset='img/media_5.jpg 1x, img/media_5@2x.jpg 2x')
              // less 768px
              data-src(
              media="(min-width: 0px)" 
              srcset='https://res.cloudinary.com/dqruxbmfq/image/upload/w_768,h_768,c_fill/v1544280402/petrik/media_5.jpg 1x, https://res.cloudinary.com/dqruxbmfq/image/upload/w_1536,h_1536,c_fill/v1544280402/petrik/media_5_2x.jpg 2x')
              // fallback (will be added with js-lazy)
              //- img(src='img/'+image+'.jpg')
              
          .video__player
            // player code will be embeded
        
        figcaption.figcaption.p-label Commercial #2

mixin i_1_one_image
  // section 1 image (I 1)
  .section
    .container
      figure.figure
        .scaler(data-ar="16:9" style="background-image: url(https://res.cloudinary.com/dqruxbmfq/image/upload/w_64,c_fill,e_blur:600/v1544280402/petrik/media_2.jpg)")
          img(js-lazy data-src='img/media_2.jpg' data-srcset='img/media_2@2x.jpg 2x' alt="")
        figcaption.figcaption.p-label Подпись к изображению
      
mixin i_2_two_images
  // section 2 images (I 2)
  // row with gutter modifier
  .section
    .container
      .row.row--gutter-12.row--offset-1
        .col.col--50
          figure.figure
            .scaler(style="padding-bottom: "+ (600/509)*100 +"%; background-image: url(https://res.cloudinary.com/dqruxbmfq/image/upload/w_64,c_fill,e_blur:600/v1544280402/petrik/media_3.jpg)")
              img(js-lazy data-src='img/media_3.jpg' data-srcset='img/media_3@2x.jpg 2x' alt="")
        .col.col--50
          figure.figure
            .scaler(style="padding-bottom: "+ (600/509)*100 +"%; background-image: url(https://res.cloudinary.com/dqruxbmfq/image/upload/w_64,c_fill,e_blur:600/v1544280402/petrik/media_4.jpg)")
              img(js-lazy data-src='img/media_4.jpg' data-srcset='img/media_4@2x.jpg 2x' alt="")
        .col
          figcaption.figcaption.p-label Dancing in ‘Metatr Shop’
          
mixin i_2_two_images_centered_demo
  // section 2 images (1 img provided) (I 2)
  // row with gutter modifier
  .section
    .container
      .row.row--gutter-12.row--offset-1
        .col.col--50
          figure.figure
            .scaler(style="padding-bottom: "+ (600/509)*100 +"%; background-image: url(https://res.cloudinary.com/dqruxbmfq/image/upload/w_64,c_fill,e_blur:600/v1544280402/petrik/media_3.jpg)")
              img(js-lazy data-src='img/media_3.jpg' data-srcset='img/media_3@2x.jpg 2x' alt="")
            figcaption.figcaption.p-label Dancing in ‘Metatr Shop’
            
mixin i_3_one_image_container_offset
  // section 1 image with container offset (I 3)
  .section
    .container
      .row.row--offset-1
        .col
          figure.figure
            .scaler(style="padding-bottom: "+ (694/1170)*100 +"%; background-image: url(https://res.cloudinary.com/dqruxbmfq/image/upload/w_64,c_fill,e_blur:600/v1544361310/petrik/media_23.jpg)")
              img(js-lazy data-src='img/media_23.jpg' data-srcset='img/media_23@2x.jpg 2x' alt="")
            figcaption.figcaption.p-label Characters are heading to final scene
        
mixin i_4_full-width
  // section 1 image fullwidth (I 4)
  .section
    .container.container--fullwidth
      figure.figure
        .scaler(style="padding-bottom: "+ (682/1440)*100 +"%; background-image: url(https://res.cloudinary.com/dqruxbmfq/image/upload/w_64,c_fill,e_blur:600/v1544280402/petrik/media_6.jpg)")
          img(js-lazy data-src='img/media_6.jpg' data-srcset='img/media_6@2x.jpg 2x' alt="")
        .container.tac
          figcaption.figcaption.p-label Graphics inspired by 2D animation

mixin i_5_three_images_individual_sign
  // section 3 images (I 5)
  .section
    .section__heading
      .container
        .h2-title.ttu.tac CHARACTERS
    .container
      .row.row--gutter-12
        .col.col--33
          figure.figure
            .scaler(data-ar="1:1" style="background-image: url(https://res.cloudinary.com/dqruxbmfq/image/upload/w_64,c_fill,e_blur:600/v1544280402/petrik/media_7.jpg)")
              img(js-lazy data-src='img/media_7.jpg' data-srcset='img/media_7@2x.jpg 2x' alt="")
            figcaption.figcaption.p-label.tac Web Girl
        .col.col--33
          figure.figure
            .scaler(data-ar="1:1" style="background-image: url(https://res.cloudinary.com/dqruxbmfq/image/upload/w_64,c_fill,e_blur:600/v1544280402/petrik/media_8.jpg)")
              img(js-lazy data-src='img/media_8.jpg' data-srcset='img/media_8@2x.jpg 2x' alt="")
            figcaption.figcaption.p-label.tac Mrs. Rocketbank
        .col.col--33
          figure.figure
            .scaler(data-ar="1:1" style="background-image: url(https://res.cloudinary.com/dqruxbmfq/image/upload/w_64,c_fill,e_blur:600/v1544280402/petrik/media_9.jpg)")
              img(js-lazy data-src='img/media_9.jpg' data-srcset='img/media_9@2x.jpg 2x' alt="")
            figcaption.figcaption.p-label.tac Alex Mazurenkov
          
mixin i_6_three_images_block_sign
  // section 3 images (I 6) one signature
  // figcaption is 1lvl up from row
  .section
    .container
      .row.row--gutter-12
        .col.col--33
          figure.figure
            .scaler(data-ar="1:1" style="background-image: url(https://res.cloudinary.com/dqruxbmfq/image/upload/w_64,c_fill,e_blur:600/v1544280402/petrik/media_16.jpg)")
              img(js-lazy data-src='img/media_16.jpg' data-srcset='img/media_16@2x.jpg 2x' alt="")
        .col.col--33
          figure.figure
            .scaler(data-ar="1:1" style="background-image: url(https://res.cloudinary.com/dqruxbmfq/image/upload/w_64,c_fill,e_blur:600/v1544280402/petrik/media_17.jpg)")
              img(js-lazy data-src='img/media_17.jpg' data-srcset='img/media_17@2x.jpg 2x' alt="")
        .col.col--33
          figure.figure
            .scaler(data-ar="1:1" style="background-image: url(https://res.cloudinary.com/dqruxbmfq/image/upload/w_64,c_fill,e_blur:600/v1544280402/petrik/media_18.jpg)")
              img(js-lazy data-src='img/media_18.jpg' data-srcset='img/media_18@2x.jpg 2x' alt="")
      
      figcaption.figcaption.p-label Good gnomik sits on the floor
      
mixin i_7_six_images
  // section 6 images (I 7)
  // nothing extra in html, just usuing flex-wrap
  .section
    .container
      .row.row--gutter-12
        .col.col--33
          figure.figure
            .scaler(data-ar="1:1" style="background-image: url(https://res.cloudinary.com/dqruxbmfq/image/upload/w_64,c_fill,e_blur:600/v1544280402/petrik/media_10.jpg)")
              img(js-lazy data-src='img/media_10.jpg' data-srcset='img/media_10@2x.jpg 2x' alt="")
        .col.col--33
          figure.figure
            .scaler(data-ar="1:1" style="background-image: url(https://res.cloudinary.com/dqruxbmfq/image/upload/w_64,c_fill,e_blur:600/v1544280402/petrik/media_11.jpg)")
              img(js-lazy data-src='img/media_11.jpg' data-srcset='img/media_11@2x.jpg 2x' alt="")
        .col.col--33
          figure.figure
            .scaler(data-ar="1:1" style="background-image: url(https://res.cloudinary.com/dqruxbmfq/image/upload/w_64,c_fill,e_blur:600/v1544280402/petrik/media_12.jpg)")
              img(js-lazy data-src='img/media_12.jpg' data-srcset='img/media_12@2x.jpg 2x' alt="")
        .col.col--33
          figure.figure
            .scaler(data-ar="1:1" style="background-image: url(https://res.cloudinary.com/dqruxbmfq/image/upload/w_64,c_fill,e_blur:600/v1544280402/petrik/media_13.jpg)")
              img(js-lazy data-src='img/media_13.jpg' data-srcset='img/media_13@2x.jpg 2x' alt="")
        .col.col--33
          figure.figure
            .scaler(data-ar="1:1" style="background-image: url(https://res.cloudinary.com/dqruxbmfq/image/upload/w_64,c_fill,e_blur:600/v1544280402/petrik/media_14.jpg)")
              img(js-lazy data-src='img/media_14.jpg' data-srcset='img/media_14@2x.jpg 2x' alt="")
        .col.col--33
          figure.figure
            .scaler(data-ar="1:1" style="background-image: url(https://res.cloudinary.com/dqruxbmfq/image/upload/w_64,c_fill,e_blur:600/v1544280402/petrik/media_15.jpg)")
              img(js-lazy data-src='img/media_15.jpg' data-srcset='img/media_15@2x.jpg 2x' alt="")
                        
      figcaption.figcaption.p-label.tac Подпись             


mixin i_7_six_images_centered_demo
  // section 6 images (I 7)
  // images get centered demo
  .section
    .container
      .row.row--gutter-12
        .col.col--33
          figure.figure
            .scaler(data-ar="1:1" style="background-image: url(https://res.cloudinary.com/dqruxbmfq/image/upload/w_64,c_fill,e_blur:600/v1544280402/petrik/media_10.jpg)")
              img(js-lazy data-src='img/media_10.jpg' data-srcset='img/media_10@2x.jpg 2x' alt="")
        .col.col--33
          figure.figure
            .scaler(data-ar="1:1" style="background-image: url(https://res.cloudinary.com/dqruxbmfq/image/upload/w_64,c_fill,e_blur:600/v1544280402/petrik/media_11.jpg)")
              img(js-lazy data-src='img/media_11.jpg' data-srcset='img/media_11@2x.jpg 2x' alt="")
        .col.col--33
          figure.figure
            .scaler(data-ar="1:1" style="background-image: url(https://res.cloudinary.com/dqruxbmfq/image/upload/w_64,c_fill,e_blur:600/v1544280402/petrik/media_12.jpg)")
              img(js-lazy data-src='img/media_12.jpg' data-srcset='img/media_12@2x.jpg 2x' alt="")
        .col.col--33
          figure.figure
            .scaler(data-ar="1:1" style="background-image: url(https://res.cloudinary.com/dqruxbmfq/image/upload/w_64,c_fill,e_blur:600/v1544280402/petrik/media_13.jpg)")
              img(js-lazy data-src='img/media_13.jpg' data-srcset='img/media_13@2x.jpg 2x' alt="")
        .col.col--33
          figure.figure
            .scaler(data-ar="1:1" style="background-image: url(https://res.cloudinary.com/dqruxbmfq/image/upload/w_64,c_fill,e_blur:600/v1544280402/petrik/media_14.jpg)")
              img(js-lazy data-src='img/media_14.jpg' data-srcset='img/media_14@2x.jpg 2x' alt="")

      figcaption.figcaption.p-label.tac Подпись
    

mixin i_t_1_image_text(have_title, rowClass)
  // section image+text (I-T 1)
  .section
    .container
      .row.row--offset-1.row--aic(class=rowClass)
        .col.col--40.col-5-lg
          if rowClass
            .space-left
              if have_title
                p.p-main.ttu.mt0 HOW TO MAKE BUSINESS IN YUBILEYNIY CITY IN MOSCOW REGION
              p.p-main To highlight arcade nature of the quest, it was agreed to use pixels. We were very excited, so we turned lava, VAZ 2105 and even bullies into pixels.
          else
            .space-right
              if have_title
                p.p-main.ttu.mt0 HOW TO MAKE BUSINESS IN YUBILEYNIY CITY IN MOSCOW REGION
              p.p-main To highlight arcade nature of the quest, it was agreed to use pixels. We were very excited, so we turned lava, VAZ 2105 and even bullies into pixels.
        .col.col--60.col-7-lg
          figure.figure
            .scaler(data-ar="1:1" style="background-image: url(https://res.cloudinary.com/dqruxbmfq/image/upload/w_64,c_fill,e_blur:600/v1544280402/petrik/media_19.jpg)")
              img(js-lazy data-src='img/media_19.jpg' data-srcset='img/media_19@2x.jpg 2x' alt="")
                
mixin i_t_1_image_text_align(rowClass)
  // section image+text top (I-T 1 Align-top)
  .section
    .container
      .row.row--offset-1(class=rowClass)
        .col.col--40.col-5-lg
          if rowClass
            .space-left
              p.p-main.mt0 To highlight arcade nature of the quest, it was agreed to use pixels. We were very excited, so we turned lava, VAZ 2105 and even bullies into pixels.
              p.p-main Our friends from Rocketbank showed up with awesome news – in partnership with Claustrophobia they had launched special quest.
              p.p-main To highlight arcade nature of the quest, it was agreed to use pixels. We were very excited, so we turned lava, VAZ 2105 and even bullies into pixels.
          else
            .space-right
              p.p-main.mt0 To highlight arcade nature of the quest, it was agreed to use pixels. We were very excited, so we turned lava, VAZ 2105 and even bullies into pixels.
              p.p-main Our friends from Rocketbank showed up with awesome news – in partnership with Claustrophobia they had launched special quest.
              p.p-main To highlight arcade nature of the quest, it was agreed to use pixels. We were very excited, so we turned lava, VAZ 2105 and even bullies into pixels.
        .col.col--60.col-7-lg
          figure.figure
            .scaler(data-ar="1:1" style="background-image: url(https://res.cloudinary.com/dqruxbmfq/image/upload/w_64,c_fill,e_blur:600/v1544280402/petrik/media_19.jpg)")
              img(js-lazy data-src='img/media_19.jpg' data-srcset='img/media_19@2x.jpg 2x' alt="")


mixin i_t_2_image_with_image_caption
  // section image+text (I-T 2)
  .section
    .container
      .row.row--offset-1.row--lg-break.row--it-layout
        .col.col--60.acenter-lg
          figure.figure
            .scaler(data-ar="1:1" style="background-image: url(https://res.cloudinary.com/dqruxbmfq/image/upload/w_64,c_fill,e_blur:600/v1544280402/petrik/media_20.jpg)")
              img(js-lazy data-src='img/media_20.jpg' data-srcset='img/media_20@2x.jpg 2x' alt="")
            figcaption.figcaption.p-label Actor on the green screen
            
        .col.col--30.mla.col-as-row-lg.mt45-lg
          .col-7-lg
            figure.figure.figure--m-15
              .scaler(data-ar="1:1" style="background-image: url(https://res.cloudinary.com/dqruxbmfq/image/upload/w_64,c_fill,e_blur:600/v1544280402/petrik/media_21.jpg)")
                img(js-lazy data-src='img/media_21.jpg' data-srcset='img/media_21@2x.jpg 2x' alt="")
          .col-5-lg
            p.blockquote.p-main To highlight arcade nature of the quest, it was agreed to use pixels. We were very excited, so we turned lava, VAZ 2105 and even bullies into pixels.


mixin i_t_3_text_with_image_caption
  // section image+text (I-T 3)
  .section
    .container
      .row.row--offset-1.row--lg-break.row--it-layout
        .col.col--60
          p.p-main.mt0 To highlight arcade nature of the quest, it was agreed to use pixels. We were very excited, so we turned lava, VAZ 2105 and even bullies into pixels.
          p.p-main Our friends from Rocketbank showed up with awesome news – in partnership with Claustrophobia they had launched special quest.
            
        .col.col--30.mla.col-as-row-lg.mt45-lg
          .col-7-lg
            figure.figure.figure--m-15
              .scaler(style="padding-bottom: "+ (178/318)*100 +"%; background-image: url(https://res.cloudinary.com/dqruxbmfq/image/upload/w_64,c_fill,e_blur:600/v1544280402/petrik/media_22.jpg)")
                img(js-lazy data-src='img/media_22.jpg' data-srcset='img/media_22@2x.jpg 2x' alt="")
          .col-5-lg
            p.blockquote.p-main 
              span 25 characters
              span 15 minutes of animation
              span 3340 business meetings



mixin i_slider
  // section slider
  .section.section--mob-margin
    .container
      .slider(js-slider data-slider-name="slider_1" data-nav="true").swiper-container.swiper-bullets-lines
        .swiper-wrapper(js-popup-gallery)
          figure.figure.swiper-slide
            .row.row--offset-1
              .col
                a.scaler.no-barba(href="img/media_5.jpg" data-ar="16:9" style="background-image: url(https://res.cloudinary.com/dqruxbmfq/image/upload/w_64,c_fill,e_blur:600/v1544280402/petrik/media_5.jpg)")
                  img(js-lazy data-src='img/media_5.jpg' data-srcset='img/media_5@2x.jpg 2x' alt="")
                figcaption.figcaption.p-label Подпись к изображению
          figure.figure.swiper-slide
            .row.row--offset-1
              .col
                a.scaler.no-barba(href="img/media_2.jpg" data-ar="16:9" style="background-image: url(https://res.cloudinary.com/dqruxbmfq/image/upload/w_64,c_fill,e_blur:600/v1544280402/petrik/media_2.jpg)")
                  img(js-lazy data-src='img/media_2.jpg' data-srcset='img/media_2@2x.jpg 2x' alt="")
                figcaption.figcaption.p-label Подпись к изображению
          figure.figure.swiper-slide
            .row.row--offset-1
              .col
                a.scaler.no-barba(href="img/media_5.jpg" data-ar="16:9" style="background-image: url(https://res.cloudinary.com/dqruxbmfq/image/upload/w_64,c_fill,e_blur:600/v1544280402/petrik/media_5.jpg)")
                  img(js-lazy data-src='img/media_5.jpg' data-srcset='img/media_5@2x.jpg 2x' alt="")
                figcaption.figcaption.p-label Подпись к изображению
          figure.figure.swiper-slide
            .row.row--offset-1
              .col
                a.scaler.no-barba(href="img/media_2.jpg" data-ar="16:9" style="background-image: url(https://res.cloudinary.com/dqruxbmfq/image/upload/w_64,c_fill,e_blur:600/v1544280402/petrik/media_2.jpg)")
                  img(js-lazy data-src='img/media_2.jpg' data-srcset='img/media_2@2x.jpg 2x' alt="")
                figcaption.figcaption.p-label Подпись к изображению
        .swiper-nav.swiper-nav--prev(data-for="slider_1")
          +svgMono('nav-arrow-left')
        .swiper-nav.swiper-nav--next(data-for="slider_1")
          +svgMono('nav-arrow-right')
        
        .swiper-pagination.p-label(data-for="slider_1" data-type="fraction")      

mixin i_chooser
  // section chooser
  .section.section--mob-margin
    .section__heading
      .container
        .h2-title.ttu.tac SCREENPLAY
    .container
      .slider(js-slider data-slider-name="chooser_1").swiper-container.swiper-bullets-text
        .swiper-wrapper(js-popup-gallery)
          figure.figure.swiper-slide(data-bullet-text="Изображение №1")
            a.scaler.no-barba(href="img/media_2.jpg" data-ar="16:9" style="background-image: url(https://res.cloudinary.com/dqruxbmfq/image/upload/w_64,c_fill,e_blur:600/v1544280402/petrik/media_2.jpg)")
              img(js-lazy data-src='img/media_2.jpg' data-srcset='img/media_2@2x.jpg 2x' alt="")
          figure.figure.swiper-slide(data-bullet-text="Изображение №2")
            a.scaler.no-barba(href="img/media_5.jpg" data-ar="16:9" style="background-image: url(https://res.cloudinary.com/dqruxbmfq/image/upload/w_64,c_fill,e_blur:600/v1544280402/petrik/media_5.jpg)")
              img(js-lazy data-src='img/media_5.jpg' data-srcset='img/media_5@2x.jpg 2x' alt="")
          figure.figure.swiper-slide(data-bullet-text="Изображение №3")
            a.scaler.no-barba(href="img/media_2.jpg" data-ar="16:9" style="background-image: url(https://res.cloudinary.com/dqruxbmfq/image/upload/w_64,c_fill,e_blur:600/v1544280402/petrik/media_2.jpg)")
              img(js-lazy data-src='img/media_2.jpg' data-srcset='img/media_2@2x.jpg 2x' alt="")
          figure.figure.swiper-slide(data-bullet-text="Изображение №4")
            a.scaler.no-barba(href="img/media_5.jpg" data-ar="16:9" style="background-image: url(https://res.cloudinary.com/dqruxbmfq/image/upload/w_64,c_fill,e_blur:600/v1544280402/petrik/media_5.jpg)")
              img(js-lazy data-src='img/media_5.jpg' data-srcset='img/media_5@2x.jpg 2x' alt="")
        
        .swiper-pagination-container
          .swiper-pagination-scrollable(js-swiper-scrollable)
            .swiper-pagination(data-for="chooser_1" data-type="bullets")
